<h2>TODOS TABLE</h2>

<app-add-todo></app-add-todo>

<p>Erstes Todo: {{this.todos[0]}}</p>
<table>
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>completed</th>
        </tr>
    </thead>
    <tbody>
        <!-- Option mit einer Komponente, die wiederholt wird. Dadurch dass es ein zusätlicher Knoten im DOM ist, muss display Eigenschaft angepasst werden -->
        <!-- <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo> -->
        
        <!-- Option mit keinem weiteren DOM-Knoten, um an die display eigenschaft nicht zu denken -->
        <tr app-todo-dir *ngFor="let todo of todos" [todo]="todo"></tr>
    </tbody>
</table>
