<h2>MATERIAL</h2>

<button mat-button>mat-button</button>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<mat-checkbox></mat-checkbox>

<div mat-toolbar [style.color]="'purple'">div</div>

<!-- <ol mat-list>
    <li>li</li>
    <li>li</li>
    <li>li</li>
</ol>
 -->
<mat-list>
    <mat-list-item [style.color]="'black'"> Pepper </mat-list-item>
    <mat-list-item [style.color]="'black'"> Salt </mat-list-item>
    <mat-list-item [style.color]="'black'"> Paprika </mat-list-item>
</mat-list>