<h2>Übung TIME</h2>

<pre>
    Thema: Pipes

    Programmieren Sie eine digitale Uhr. Arbeiten Sie erstmal mit .toLocaleTimeString()
    
    Schritt 2: 
    Benutzen Sie anstatt .toLocaleTimeString() die NG-Pipes.
</pre>

<p>{{timeString}}</p>
<p>{{date | date: 'hh:mm:ss'}}</p>
<p>{{date | date: 'hh mm ss'}} <span>trennzeichen sind frei wählbar</span></p>
<p>{{date | date: 'hh:mm:ss:SSS'}}</p>
<p>{{date | date: 'dd-MM-yy'}}</p>
<p>{{date | date: 'dd/MM/yy'}}</p>
<button (click)="stop()">stop</button>